:root {
  --basic-black: #000000;
  --basic-black-03: rgba(0, 0, 0, 0.3);
  --basic-light-blue: #81b3d2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-neutral: #cacaca;
  --basic-white-03: rgba(255, 255, 255, 0.3);
  --basic-white: #ffffff;
  --basic-light-grey: #f2f2f2;
  --basic-light-brown: #766357;
  --basic-dark-brown: #503E33;
  --basic-brown: #604E43;
  --basic-light: #EEEEEE;
  --basic-dark-green: #333333;
  --basic-dull-gray: #666666;
  --basic-light-02: rgba(0, 1, 1, 0.2);
  --body-fonts: "PT Sans", "Open Sans";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: var(--body-fonts);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--basic-light-02);

  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
  margin: 15px 0;
  padding-left: 0;
}

.header-nav-item {
  list-style: none;
}

.header-nav-item:nth-child(2) {
  padding-left: 134px;
  padding-right: 418px;
}

.header-nav-item:nth-child(4) {
  padding-left: 147px;
}

.header-nav-link {
  color: var(--basic-black);
}

.header-nav-link:hover {
  color: var(--basic-light-blue);
}

.header-nav-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.header-nav-link:focus {
  color: var(--basic-light-brown);
}

.main-header-logo {
  display: block;
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 45%;
}

.main-features {
  display: grid;
}

.main-banner {
  background-color: var(--basic-light-blue);
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 41px;
  width: 100%;
  height: 509px;
}

.welcom_svg {
  margin: 77px 371px 80px;
}

.main-features-slogan {
  text-align: center;
}


.slogan {
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 16px;
}

.slogan-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark-green);
  padding-bottom: 51px;
}

.title {
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-top: 47px;
  padding-bottom: 23px;
}

.main-features-1 {
  display: grid;
  grid-template-columns: 400px 1fr;
  padding-bottom: 60px;
}

.main-features-2 {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.main-features-block {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  text-align: center;
}

.main-features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  text-align: center;
}

.main-features-item {
  list-style: none;
}

.main-features-title {
  padding-top: 28px;
}

.main-features-list-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-light);
  margin-bottom: 58px;
  margin-top: 0;
}

.main-features-item-2 {
  list-style: none;
  text-align: center;
}

.text {
  color: var(--basic-dark-green);
  padding-bottom: 54px;
}

.form-search {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  font-style: normal;
  text-align: center;
}

.form-interested {
  padding-bottom: 4px;
}

.form-search-text {
  display: inline-block;
  padding: 24px 383px;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-dark-green);
}

.form-search-link {
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  display: inline-block;
  padding: 30px 125px;
}

.form-search-link:hover {
  background-color: var(--basic-brown);
}

.form-search-link:active {
  background-color: var(--basic-dark-brown);
  color: var(--basic-white-03);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.visitsedona {
  padding-bottom: 9px;
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 23px 0 36px 136px;
}

.phone-link {
  color: var(--basic-black);
}

.phone-link:hover {
  color: var(--basic-light-blue);
}

.phone-link:active {
  color: var(--basic-black-03);
}

.footer-social {
  display: flex;
  align-items: center;
  padding: 36px 190px;
}

.social-item {
  list-style: none;
  padding-right: 6px;
}

.social-link:hover {
  background-color: var(--basic-blue);
}

.social-link:active {
  background-color: var(--basic-dark-blue);
}

.social-svg {
  fill: var(--basic-white);
  background-color: var(--basic-light-blue);
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
}

.social-svg:hover {
  background-color: var(--basic-blue);
}

.social-svg:active {
  fill: var(--basic-white-03);
  background-color: var(--basic-dark-blue);
}

.html-academy {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.website_by {
  display: inline-block;
  padding: 47px 15px;
}

.html-academy-svg {
  fill: var(--basic-black);
}

.html-academy-svg:hover {
  fill: var(--basic-blue);
}

.html-academy-svg:active {
  fill: var(--basic-black);
  opacity: 0.3;
}

/* Catalog */

.active {
  color: var(--basic-light-brown);
}

.catalog-form {
  display: flex;
  justify-content: space-around;
  background-image: url("../img/catalog/bg_catalog.png");
  background-repeat: no-repeat;
}

.catalog-form-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.catalog-form-item {
  list-style: none;
  color: var(--basic-white);
}

.block-cost {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  color: var(--basic-white);
}

.cost {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.cost-input {
  background: none;
  border: none;
  color: var(--basic-white);
}

.show-btn {
  display: flex;
  justify-content: center;
}

.show {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: none;
  color: var(--basic-white);
  text-transform: uppercase;
  margin: 55px 0 32px 0;
  padding: 7px 35px 8px 35px;
}

.show:hover {
  background: var(--basic-white);
  color: var(--basic-black);
}

.block-found {
  display: flex;
  padding: 30px 40px 30px 73px;
}

.found {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.found-list {
  display: flex;
  margin-top: 5px;
}

.found-item {
  list-style: none;
  padding-left: 40px;
}

.found-link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-light-blue);
}

.found-link:hover {
  color: var(--basic-light-blue);
  opacity: 1;
}

.found-link:active {
  color: var(--basic-black);
  border: none;
}

.catalog-svg-list {
  display: flex;
  margin-top: 5px;
}

.catalog-svg-item {
  list-style: none;
  padding-left: 12px;
}

.svg-link {
  fill: var(--basic-neutral);
}

.svg-link:hover {
  fill: var(--basic-black);
}

.svg-link:active {
  fill: var(--basic-light-blue);
}

.hotel-item {
  list-style: none;
}

.hotel-link-title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel-link-title:hover {
  color: var(--basic-light-blue);
}

.hotel-link-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-green);
}

.hotel-details {
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.hotel-details:hover {
  background-color: var(--basic-blue);
}

.hotel-details:active {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white-03);
}

.hotel-reserve {
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
}

.hotel-reserve:hover {
  background-color: var(--basic-brown);
}

.hotel-reserve:active {
  background-color: var(--basic-dark-brown);
  color: var(--basic-white-03);
}


.rating {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dull-gray);
  background-color: var(--basic-light-grey);
}
