:root {
  --basic-black: #000000;
  --basic-light-blue: #81b3d2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-neutral: #cacaca;
  --basic-white: #ffffff;
  --basic-light-grey: #f2f2f2;
  --basic-light-brown: #766357;
  --basic-dark-brown: #503E33;
  --basic-brown: #604E43;
  --basic-light: #EEEEEE;
  --basic-dark-green: #333333;
  --basic-dull-gray: #666666;
  --basic-light-02: rgba(0, 1, 1, 0.2);
  --body-fonts: "PT Sans";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}

.page-body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: var(--body-fonts);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-lightgrey);
}

.container {
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--basic-light-02);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header-nav-list {
  line-height: 26px;
  font-weight: bold;
}

.header-nav-link {
  color: var(--basic-black);
}

.header-nav-link:hover {
  color: var(--basic-light-blue);
}

.header-nav-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.header-nav-link:focus {
  color: var(--basic-light-brown);
}

.main-banner {
  background-color: var(--basic-white);
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  text-align: center;
}

.main-features-slogan {
  text-align: center;
}

.slogan {
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
}

.slogan-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark-green);
}

.title {
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
}

.main-features-block {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  text-align: center;
}

.main-features-list-2 {
  background-color: var(--basic-light);
}

.text {
  color: var(--basic-dark-green);
}

.form-search {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  font-style: normal;
  text-align: center;
}

.form-search-link {
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
}

.form-search-link:hover {
  background-color: var(--basic-brown);
}

.form-search-link:active {
  background-color: var(--basic-dark-brown);
  color: var(--basic-white);
}

.phone {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.phone-link {
  color: var(--basic-black);
}

.phone-link:hover {
  text-decoration: underline;
}

.social-link {
  color: var(--basic-light-blue);
  background-color: var(--basic-light-blue);
}

.social-link:hover {
  background-color: var(--basic-blue);
}

.social-link:active {
  background-color: var(--basic-dark-blue);
}


.html-academy {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.html-academy-svg {
  fill: var(--basic-black);
}

.html-academy-svg:hover {
  fill: var(--basic-blue);
}

.html-academy-svg:active {
  fill: var(--basic-black);
  opacity: 0.3;
}

/* Catalog */

.active {
  color: var(--basic-light-brown);
}

.form-catalog {
  display: flex;
  background-image: url("../img/catalog/bg_catalog.png");
  background-repeat: no-repeat;
}

.infrastructure-item,
.type-housing-item {
  color: var(--basic-white);
}

.infrastructure-title,
.type-housing-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.cost {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.cost-from,
.cost-before {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  color: var(--basic-white);
}

.cost-input {
  background: none;
  border: none;
  color: var(--basic-white);
}

.show {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: none;
  color: var(--basic-white);
  text-transform: uppercase;
}

.show:hover {
  background: var(--basic-white);
  color: var(--basic-black);
}

.found {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.found-link {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-light-blue);
}

.found-link:hover {
  color: var(--basic-light-blue);
  opacity: 1;
}

.found-link:active {
  color: var(--basic-black);
  border: none;
}

.svg-up,
.svg-down {
  fill: var(--basic-neutral);
}

.svg-up:hover,
.svg-down:hover {
  fill: var(--basic-black);
}

.svg-up:active,
.svg-down:active {
  fill: var(--basic-light-blue);
}

.hotel-link-title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel-link-title:hover {
  color: var(--basic-light-blue);
}

.hotel-link-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-green);
}

.hotel-details {
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.hotel-details:hover {
  background-color: var(--basic-blue);
}

.hotel-details-text:active {
  opacity: 0.3;
}

.hotel-details:active {
  background-color: var(--basic-dark-blue);
}

.hotel-reserve {
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
}

.hotel-reserve:hover {
  background-color: var(--basic-brown);
}

.hotel-reserve:active {
  background-color: var(--basic-dark-brown);
}

.hotel-reserve-text:active {
  opacity: 0.3;
}

.rating {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dull-gray);
}
